<div
  class="row border-bottom mt-3 py-3"
  style="min-height: 150px">
  <div class="col-md-3">
    <a
      [routerLink]="[productIndex]"
      style="cursor: pointer">
      <img
        class="py-1 img-fluid img-responsive text-center" style="max-height: 200px"
        [src]="product.imagePathUrl"
        alt="{{product.name}}">
    </a>
  </div>
  <div class="col-md-7">
    <a class="text-primary py-1"
       style="cursor: pointer"
       [routerLink]="[productIndex]">
      {{ product.name }}
    </a>
    <br>
    <span class="text-secondary" style="font-size: .75em">SKU:{{product.sku}}</span>
    <h5 class="text-dark pt-2"><b>{{ product.listPrice | currency }}</b></h5>
    <span
      [ngStyle]="{color: (stockStatus() | async) ? 'green' : 'red'}">
      {{ (stockStatus() | async) ? 'In Stock' : 'Out of Stock' }}
    </span>
    <p
      *ngIf="(stockStatus() | async) && product.listPrice > 100"
      class="py-1 m-0"
      style="color: red; font-size: .9em">
      10% off your first purchase with signup!
    </p>
  </div>
  <div class="col-md-2">
    <button class="btn btn-warning border-dark mx-1 my-2" style="width: 150px" [disabled]="!(stockStatus() | async)">Add to Cart</button>
    <div class="btn-group" style="width: 150px">
      <button
        type="button"
        class="btn btn-light border-dark mx-1 my-2 dropdown-toggle" style="width: 150px">
        Add to List
      </button>
  </div>
</div>
