<div class="row py-3" *ngIf="getRegistryList() as registries">
  <div class="col-md-3 p-0">
    <div class="col-md-12" *ngFor="let registry of registries; let i=index">
      <a class="row p-3 border-bottom justify-content-md-end" style="cursor: pointer"
         (click)="getRegistry(i)">
        {{registry.name}}
      </a>
    </div>
  </div>
  <div class="col-md-9">
    <app-product-item
      *ngFor="let product of selected.products; let i=index"
      [product]="product"
      [productIndex]="i"
    ></app-product-item>
  </div>
</div>






