<div class="row my-4 mx-0 p-0 border-0 rounded">
  <div class="col-md-6">
    <div
      class="jumbotron bg-warning text-dark rounded-0 border border-dark "
      style="cursor: pointer"
      (click)="onViewAllProducts()">
      <h1 class="display-5">All Products</h1>
      <p class="lead">This space can dynamically deliver one or more advertisements for a given department.</p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="jumbotron bg-light text-dark rounded-0 border border-dark ">
      <h1 class="display-5">Department Ad</h1>
      <p class="lead">This space can dynamically deliver one or more advertisements for a given department.</p>
    </div>
  </div>
  <div class="col-md-12">
    <div
      class="jumbotron bg-warning text-dark rounded-0 border border-dark "
      style="cursor: pointer"
      (click)="onViewProduct()">
      <h1 class="display-5">Product of the Day!</h1>
      <p class="lead">This space can dynamically deliver one or more advertisements for a given department.</p>
    </div>
  </div>
</div>
<hr>
<div class="row text-center">
  <div class="col-4 py-5">
    <h5>Feature 1</h5>
    <p>Detail</p>
  </div>
  <div class="col-4 py-5">
    <h5>Feature 2</h5>
    <p>Detail</p>
  </div>
  <div class="col-4 py-5">
    <h5>Feature 3</h5>
    <p>Detail</p>
  </div>
</div>
<hr>
